<!DOCTYPE html>
<html>

<head>
    <title>Database Credentials | Pixel Barcode App</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 40px;
        }

        button {
            padding: 8px 16px;
            font-size: 16px;
            cursor: pointer;
            margin-top: 10px;
        }

        a {
            color: #007bff;
            text-decoration: none;
        }

        span {
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div>
        <h1>Pixel Barcode App</h1>
        <div>
            <span>Database Credentials are not found. Please provide database credentials here </span><a
                href="/settings"> Add Database Credentials</a>
        </div>
        <!-- <button onclick="location.href='/'">🏠︎ Home</button> -->
    </div>
</body>
